@model Blog.WebUI.Models.BlogsUserListViewModel

@foreach (var blog in @Model.Blogs)
{
    @Html.Partial("BlogContent", blog)
}
</div>
<div class="Paging">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("BlogsUser", new { page = x }))
</div>